.showcase-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  padding: 200px 4em 0 4em;

  .fade-grid {
    width: 100%;
  }

  .title-logo {
    min-width: 340px;
  }

  .title {
    text-align: center;
    line-height: 100%;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0.2em;
    margin-right: 0.2em;
    white-space: nowrap;

    span {
      &:nth-child(3),
      &:nth-child(4) {
        color: #00d8ff;
      }
    }
  }

  .sub-text {
    max-width: 35ch;
    font-weight: 500;
    color: #a6a6a6;
    font-size: 18px;
    text-align: center;
  }

  .grid-container {
    position: relative;
    margin: 8em 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 20px; // Ensures uniform spacing

    // &::before {
    //   content: "";
    //   width: 100%;
    //   bottom: 0;
    //   height: 50%;
    //   background: linear-gradient(to top, #060606, transparent);
    //   position: absolute;
    // }

    .grid-item {
      border: 1px solid rgba(166, 166, 166, 0.1);
      background: #080808;
      border-radius: 25px;
      grid-row: span 1;
      transition: transform 0.3s ease-in-out;
      position: relative;

      &:hover {
        transform: scale(0.9);
        transition: 0.3s ease;

        .showcase-info {
          transform: scale(0.9);
          transition: 0.3s ease;
        }
      }

      .showcase-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        border-radius: 25px;
      }

      .showcase-info {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2em;
        z-index: 3;
        transition: 0.3s ease;

        .author {
          font-weight: 900;
          font-size: 2rem;
        }

        .using {
          letter-spacing: -0.5px;
          color: #a6a6a6;
        }
      }

      &::before {
        content: "";
        position: absolute;
        border-radius: 25px;
        z-index: 2;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to top, #060606 33%, transparent);
      }
    }

    .add-yours {
      cursor: pointer;
      gap: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 500;
      color: #a6a6a6 !important;
      transition: 0.3s ease;
      font-size: 1rem;

      &::before {
        content: "";
        position: absolute;
        border-radius: 25px;
        z-index: 2;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        background: none;
      }

      &:hover {
        font-size: 1.2rem;
        background-color: #0d0d0d;
        transition: 0.3s ease;

        .add-icon {
          font-size: 1.2rem;
          transition: 0.3s ease;
        }
      }

      .add-icon {
        transition: 0.3s ease;
        font-size: 1rem;
      }
    }

    // Responsive grid adjustments
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 180px;
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: 160px;
    }
  }

  .nothing-yet {
    background: linear-gradient(to bottom, #060606, transparent);
    padding: 2em 0;
    width: 100%;
    top: 0;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sad-icon {
      width: 40px;
      margin-bottom: 1em;
    }

    .nothing-yet-title {
      font-size: 1.6rem;
    }

    .nothing-yet-subtitle {
      color: #a6a6a6;
      font-size: 16px;
      font-weight: 500;
      max-width: 30ch;
      text-align: center;
      margin-bottom: 2em;
    }
  }
}

.divider {
  margin: 4em 0 5em 0;
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, transparent, #ffffff7d, transparent);
}

@media (max-width: 1024px) {
  .grid-container {
    margin: 4em 0 !important;
  }

  .showcase-wrapper {
    padding: 140px 2em 0 2em;
  }

  .showcase-info {
    padding: 1em !important;
  }
}

@media (max-width: 697px) {
  .showcase-wrapper {
    .title-logo {
      min-width: 170px;
    }

    .title {
      font-size: 2rem;
      margin-bottom: 0.6em;
    }
  }
}

@media (max-width: 390px) {
  .showcase-wrapper {
    .title-logo {
      min-width: 150px;
    }

    .title {
      font-size: 1.6rem;
    }

    .sub-text {
      font-size: 16px;
    }
  }
}
